extends ../layouts/common

block content
  h1(class="text-center") Create Book
  div(class="container")
    form(method="POST")
      div(class="form-group")
        label Name:
        input(name="name", type="text", class="form-control")
        label Description:
        input(name="description", type="text",class="form-control")
      button(class="btn btn-success btn-lg") Create