extends ../layouts/common

block header
 include ../layouts/header

block content
  h1(class="text-center") Create Book
  div(class="container")
    form(method="POST", enctype="multipart/form-data")
      div(class="form-group")
        label(for="name") Name:
        input(name="name", id="name" ,type="text", class="form-control")
        label(for="description") Description:
        input(name="description", id="description" ,type="text",class="form-control")
        label(for="coverBook") Cover Book:
        input(name="coverBook", type="file", id="coverBook",class="form-control-file")
      button(class="btn btn-success btn-lg") Create