nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href=url)
    img.d-inline-block.align-top(src="https://cdn.glitch.com/c0b69024-6d9c-467e-a7cc-669b2269dcb3%2Fcoders.png?v=1588236419282" width='30' height='30' alt='My Book')
    | Coders-X||Dog Book Shop
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/books/') Books
      li.nav-item
        a.nav-link(href='/users/') Users
      li.nav-item
        a.nav-link(href='/transactions') Transactions
  if user
    p=user.name
  else 
    a(href="/auth/login", class="mr-2") Login
  .border.border-warning.ml-1.rounded-lg
    .d-flex.p-2.align-items-center
     img(src="https://cdn.glitch.com/839bc4b7-934d-4adc-9247-cdd2f492dd43%2Fcart.png?v=1588341021409")
     span.text-primary.ml-2.mr-2 Giỏ hàng có
     span.bg-warning.rounded-lg.p-1=total
    
    
        
