extends ./layouts/common
block content
  .container
    .d-flex-column.justify-content-center.align-items-center
      .Error
        h1.text-center Error!!!
        p.text-center
          img(src="https://cdn.glitch.com/52f5c30a-39eb-4e42-a5bd-a574c5842775%2F500.jpg?v=1588685306475")
      p.text-center
        b Content:  #{error}
          