extends ./layouts/common

block content
  h1(class="display-4 text-center") Welcome to My Bookstore

  a(href="/books", class="btn btn-primary btn-lg btn-block") 
    img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fbooks.png?v=1587794827789")/ My Books
  br
  br
  a(href="/users", class="btn btn-secondary btn-lg btn-block")
    img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fgroup.png?v=1587795062105")/ Users
  br
  br
  if user.isAdmin == true
    a(href="/transactions", class="btn btn-danger btn-lg btn-block")
      img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fchecklist.png?v=1587795178370")/ Transactions