h1 Update User
form(action="/users/update",method="POST")
  label Name:
  input(name="id",type="hidden", value=user.id)
  input(name="name", type="text", value=user.name)
  label Phone:
  input(name="phone", type="text",value=user.phone)
  button Update