extends ../layouts/common

block content
  h1 Update User
  form(action="/users/update",method="POST")
    label Name:
    input(name="id",type="hidden", value=user.id)
    input(name="name", type="text", value=user.name)
    label Phone:
    input(name="phone", type="text",value=user.phone)
    label(for="email") Email*:
    input(name="email", type="text", id="email", class="form-control" value=user.email)
    label(for="password") Password:
    input(name="password", type="password", id="password", class="form-control" value="123123")
    label(for="wrongLoginCount") numberLogin:
    input(name="wrongLoginCount", type="number", id="wrongLoginCount", class="form-control" value="0")
    button Update