extends ../layouts/common

block content
  h1 Những đứa mượn sách
  a(href="/transactions/create", class="btn btn-link") 
    h4 
      span(class="badge badge-primary") Cho Mượn
  br
  br
  table(class="table table-bordered text-center")
    thead(class="thead-dark")
      tr
        th id
        th Tên thằng mượn
        th Tên sách mượn
        th Status
      each transaction in transactions
       tr
         td=transaction.id
         td=transaction.userId
         td=transaction.bookId
         if transaction.isComplete === false
           td
            a(href="/transactions/"+transaction.id+"/complete", class="btn btn-success") Complete
         else 
           td
             img(src="https://cdn.glitch.com/09102522-1ad8-417e-a9d0-89efb35eab90%2Fcomplete.png?v=1587787268468")